.u-section-1 {
  background-image: none;
}
.u-section-1 .u-sheet-1 {
  min-height: 776px;
}
.u-section-1 .u-layout-wrap-1 {
  margin-top: 114px;
  margin-bottom: 60px;
}
.u-section-1 .u-layout-cell-1 {
  min-height: 573px;
}
.u-section-1 .u-container-layout-1 {
  padding: 30px;
}
.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}
.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}
.u-section-1 .u-form-1 {
  margin-top: 20px;
  margin-bottom: 0;
}
.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
}
.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}
.u-section-1 .u-btn-2 {
  padding: 0;
}
.u-section-1 .u-layout-cell-2 {
  min-height: 573px;
}
.u-section-1 .u-container-layout-2 {
  padding: 30px 24px;
}
.u-section-1 .u-image-1 {
  height: 479px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 479px;
  background-image: url("images/84494846_M003T0985SignageMockup30Oct23.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}
.u-section-2 {
  background-image: none;
}
.u-section-2 .u-sheet-1 {
  min-height: 326px;
}
.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px auto 0;
}
.u-section-2 .u-text-2 {
  width: 771px;
  margin: 20px auto 0;
}
.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 30px auto 23px;
}
.u-section-3 {
  background-image: none;
}
.u-section-3 .u-sheet-1 {
  min-height: 718px;
}
.u-section-3 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 58px;
}
.u-section-3 .u-layout-cell-1 {
  min-height: 602px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}
.u-section-3 .u-container-layout-1 {
  padding: 40px 25px;
}
.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 0;
}
.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}
.u-section-3 .u-text-3 {
  line-height: 1.8;
  font-size: 1.375rem;
  margin: 30px 0 0;
}
.u-section-3 .u-btn-1 {
  padding: 0;
}
.u-section-3 .u-btn-2 {
  padding: 0;
}
.u-section-3 .u-text-4 {
  margin: 30px auto 0 0;
}
.u-section-3 .u-btn-3 {
  padding: 0;
}
.u-section-3 .u-layout-cell-2 {
  min-height: 602px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}
.u-section-3 .u-container-layout-2 {
  padding: 30px;
}
.u-section-3 .u-image-1 {
  width: 469px;
  height: 524px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 7px auto 0;
}